*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    scroll-behavior:smooth;
}
body
{
    background-image: url("img2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: blur(3.5px);
    background-size: cover;
    z-index: 0;
    width: 100vw;
    overflow-x: hidden;
    position: absolute;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    /* font-family: Helvetica, sans-serif; */
}
header{
    font-size: 2.5rem;
    background-color: rgb(0, 0, 0,0.7);
    color: white;
    padding: 2rem;
    padding-bottom: 0rem;
    position: sticky;
    top: 0;
    left: 0;
    /* margin:0 -0.9rem; */
    /* margin-top: -14rem; */
    width: 100%;
    margin-bottom: 6rem;
    z-index: 100;
}
.chotu{
    font-size: 1.6rem;
    color: whitesmoke;
    margin-left: 3rem;
    width: fit-content;
}
.topnav a:hover , .chotu
{
    border-bottom: 2px solid  rgba(233, 53, 83);
}
#about
{
    /* margin-top: 14rem; */
    margin-bottom: 4.8rem;
    align-items: center;
    justify-items: center;
}
#about ul
{
    list-style: none;
    display: flex;
    justify-content: center;
}
#about ul li img{
    border-radius: 50%;
    object-fit:scale-down;
    width: 250px;
}
/* #about .cv {
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#about .cv a{
    background-color: rgb(233, 53, 83);
    background-color: #b33951;
    padding: 1.6rem 3.2rem;
    margin: -1.6rem 4.8rem;
    font-size: 2.4rem;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0 0 10px rgb(255, 0, 43);
    transition: transform 0.5s;
} */
#work a:hover,
#call a:hover,
#mail a:hover,
#contact .outer form button:hover,
#about .cv a:hover,
#services .card:hover{
    background-color: rgb(117, 36, 117);
    transform: scale(0.95)
}
.written
{
    background-color: rgb(0, 0, 0,0.6);
    color: white;
    height: fit-content;
    width: 57rem;
    padding:4.2rem 8rem;
    padding-right: 12.8rem;
    padding-bottom: 4.8rem;
    margin-top: 2.2rem;
    margin-right: -9.6rem;
    text-align: justify;
    font-size: 2.4rem;
}
#about h1{
    border-bottom: 5px solid rgb(233, 53, 83,0.8);
    text-align: center;
    border-radius: 0.8rem;
}
#testimonial h1,
#contact h1,
#work h1,
#services h1{
    font-size: 4.8rem;
    text-align: center;
    color: rgba(233, 53, 83);
    /* changes */
    color: rgb(156, 41, 156);
    /* color: rgb(48, 60, 226); */
    margin-top: 3.5rem;
}
#testimonial ul,
#contact ul,
#work ul,
#services ul
{
    list-style: none;
}
#testimonial ul li,
#contact ul li,
#work ul li,
#services ul li{
    content: '';
    height: 1.6rem;
    width: 1.6rem;
    background-color: rgb(156, 41, 156);
    border-radius: 50%;
    animation: move 3s infinite;
   margin-left: 40rem;
}
@keyframes move {
    0%{
        transform: translateX(0rem);
    }
    50%
    {
        transform: translateX(45rem);
    }
    100%
    {
        transform: translateX(0rem);
    }
}
.items
{
    margin-top: 3.2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
h2{
    font-size: 3.2rem;
}
.card
{
    background-color: rgba(226, 39, 70, 0.8);
    /* changes */
   background-color: rgb(83, 18, 83,0.8);
   color: white;
   padding:.8rem 1.6rem;
   text-align: center;
   border-radius: 1.6rem;
   box-shadow: 0 0 10px rgb(77, 68, 68);
   width: 350px;
   transition: transform 0.5s;
   padding-top: 2rem;
}
#services .card p
{
    font-size: 2.56rem;
    margin: 1rem;
}
.project-items{
    display: flex;
    justify-content: space-evenly; 
}
#work a{transition:transform 0.3s;
text-decoration: none;}
#work .project{
    width: 350px;
    /* changes */
    height: 250px;
    object-fit:fill;
    opacity: 0.9;
}
a .projectname{
    text-decoration: none;
    font-size: 3rem;
    background-color:  rgb(156, 41, 156);
    color: white;
    text-align: center;
    padding: 1rem 0;
    border-radius: 1rem;
}
.outer
{
    margin-top: 3.2rem;
    justify-content: center;
    display: flex;
    justify-content: center;
}
#contact .outer form{
    padding: 1.6rem 8rem;
    background-color: rgb(220, 220, 220,0.8);
    /* background-color: rgb(0, 0, 0,0.7); */
    box-shadow: 0 0 10px black;
    border-radius: 3.2rem;
}
#contact .outer form input,#contact .outer form textarea{
    font-size: 1.92rem;
    margin-bottom: 1.6rem;
    width: 350px;
    background-color: transparent;
    border:2px solid black;
}
#contact .outer form input{
    border: none;
    border-bottom:2px solid black;
}
#contact .outer form input:hover,
#contact .outer form input:focus
{
    border: none;
    border-bottom:2px solid rgb(156, 41, 156);
    outline: none;
    box-shadow: 0 3px 4px rgb(156, 41, 156);
}
#contact .outer form textarea:hover,
#contact .outer form textarea:focus{
    outline: none;
    border:2px solid rgb(156, 41, 156);
    box-shadow: 0 3px 4px rgb(156, 41, 156);
}
#contact .outer form input::placeholder,#contact .outer form textarea::placeholder
{
    font-size: 1.6rem;
    font-weight: bold;
}
#contact .outer form button{
    font-size: 1.76rem;
    margin-right: 0.96rem;
    background-color:rgb(156, 41, 156);
    color: white;
    border-radius: 0.8rem;
    padding: 0.48rem 0;
    cursor: pointer;
    border: none;
    transition: transform 0.5s;
    padding-left: 0.16rem;
    padding-bottom: 1.6rem;
    padding-right: 1.76rem;
    align-content: center;
}
#contact .outer form button i{
    padding-top: 0.32rem;
}
footer{
    text-align: center;
    margin-top: 4.8rem;
    width: 100%;
    padding: 6.4rem 2.4rem;
    /* changes */
    background-color: rgb(0, 0, 0,0.7);
    color: white;
    font-size: 1.92rem;
    font-weight: bolder;
}
footer ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    /* padding-left: 1.6rem; */
}
footer ul li{
    padding: 0.32rem 0.64rem;
    margin-right: 1.6rem;
    background-color: rgb(156, 41, 156);
    border-radius: 50%;
    transition: transform 0.2s;
}

footer ul li:hover{
    background-color: rgb(117, 36, 117);
    transform: translateY(-0.32rem);
}
footer a:hover{background-color: rgb(117, 36, 117);}
.fa {
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    color: white;
  }
footer a{
    text-decoration: none;
    background-color: rgb(156, 41, 156);
    color: white;
    padding: 0.8rem;
    width: max-content;
}
#call,
#mail{
    border-radius: 0.8rem;
    transition: transform 0.5s;
}
.bars{
    visibility: hidden;
}
/* .last {
    display: block;
    
}
.last li{
    margin: 2rem;
    width: fit-content;
} */
@media (max-width:1025px) 
{
    .items{
        display: grid;
        justify-content: center;
    }
    .project-items
    {
        display: grid;
        justify-content: center;
    }
    #work .project{
        width: 500px;
    }
    #work a{
        margin-bottom: 3rem;
    }
    #services .card{
        width: 500px;
        margin-bottom: 3rem;
    }
    #testimonial ul li,
    #contact ul li,
    #work ul li,
    #services ul li
    {
        margin-left: 26.5rem;
    }
}
@media (max-width:769px) 
{  
    .cv{
        margin-top: 4rem;
    }
    #testimonial ul li,
    #contact ul li,
    #work ul li,
    #services ul li
    {
        margin-left: 15rem;
    }
}
@media (max-width:541px) {
    .written{
        width: 45rem;
        padding: 1rem 2rem;
        padding-bottom: 5rem;
        margin-bottom: 2rem;
    }
    #work .project,
    #services .card{
        width:350px;
    }
    #testimonial ul li,
    #contact ul li,
    #work ul li,
    #services ul li
    {
        margin-left: 8.8rem;
    }
}
@media (max-width:415px) {
    html{
        font-size: 45% !important;
    }
    .written{
        width: 40rem;
    }
    .cv {
        display: flex;
        flex-direction: column;
    }
    #about .cv a{
        margin: 2rem 4.8rem;
    }
    #testimonial ul li,
    #contact ul li,
    #work ul li,
    #services ul li
    {
        margin-left: 5rem;
    }
    #contact .outer form{
        padding: 1.6rem 4rem;
    }
    #contact .outer form input, #contact .outer form textarea{
        width: 250px;
    }
}
@media (max-width:412px) {
    #work .project,
    #services .card{
        width: 270px;
    }   
}
@media (max-width:376px) {
    #testimonial ul li,
    #contact ul li,
    #work ul li,
    #services ul li
    {
        margin-left: 3rem;
    }
}
@media (max-width:361px) {
    /* #contact{margin-left: -0.8rem;}    */
    .written h1{font-size: 3.8rem;}
}

@media screen and (max-width:321px) {
    .written h1{ font-size: 150%;}
    .written{margin-top: 2rem; width: 280px;}
} 
@media screen and (max-width:281px) {
    html{
        font-size: 38% !important;
    }
    #about{
        /* width: 250px; */
        margin-left: -1rem;
    }
    #work .project,
    #services .items .card{
        width: 200px;
    }
    #work,#contact,#testimonial,
    #services{
        /* margin-left: 4rem !important; */
    }
    .written{width: 250px; margin-left: 1.8rem;}
    #testimonial ul li,
    #contact ul li,
    #work ul li,
    #services ul li
    {
        margin-left: 0rem;
    }
    #contact .outer form input, #contact .outer form textarea{
        width: 200px;
    }
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: transparent;
    right: 0;
    overflow: hidden;
    margin-top: -4rem;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 0.5rem;
    /* padding-bottom: 1rem; */
    margin: 0.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
    transition: border 0.15s;
    font-size: 2rem;
    color: white;
  }
.topnav:last-child{
    margin-right: 2.5rem;
}
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 767px) {
    html{
        font-size: 50%;
    }
    .topnav a {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    .topnav.responsive {position: relative; height: 40vh;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-content: center;
    }
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      margin-top: 1rem;
      /* width: fit-content; */
    }

    /* main part */
    .ab{
        display: flex;
        justify-content: center;
    }
    .ab ul{
        display:flex;
        flex-direction: column;
        padding-left: 0;
    }
    .written{
         margin-right: 0;
    }
    .im{
        display: flex;
        justify-content: center;
    }
   
    .last{display: none;}

  }
