.about{
    margin-top: var(--nav-height);
    overflow-x: hidden;
}
.section .text{
    text-align: justify;
    font-size: 2rem;
    padding: 0 10rem;
}
@media (max-width: 768px)
{
    .section .text{
        padding: 0;
        margin: 0 5rem;
    }
}