.projects{
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 2rem;
}
.card
{
    width: fit-content;
    margin: 2rem;
}
.projects .row
{
    position: relative;
    z-index: 1;
    /* width: 35rem; */
    border-radius: 8px;
}
.projects img 
{
    width: 35rem;
    border-radius: 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 20px;
    transition: transform 0.5s;
}
.projects p
{
    width: 35rem;
}
.layer 
{
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 20px;
    height: 0px;
    overflow: hidden;
    width: 100%;
    justify-content: center;
    align-content: center;
    margin-bottom: 2px;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.3),rgb(27, 27, 94));
    transition: height 0.5s;
    font-weight: 700;
}
.layer{
    font-size: 1.8rem;
}
.card h3{
    font-size: 1.8rem;
}
.card a{
    font-size: 1.8rem;
    margin-left: 3rem; 
    color: var(--color-blue);
}
.layer h3{
    font-size: 3rem;
}

.row:hover .layer
{
    height: 16.4rem;
}
.project__desc
{
    text-align: justify;
    font-size: 1.6rem;
    border: .2px solid var(--color-blue);
    border-top: none;
    border-radius: 0 0 0 20px;
    padding: 0 1rem 1rem 1rem;
}
.hover{
    text-align: center;
    font-size: 1.6rem;
    letter-spacing: 2px;
    color: var(--color-blue);
    padding: 0 15rem;
}
@media (max-width: 768px)
{
    .hover{
        padding: 0;
        margin: 0 6.5rem;
    }
    .projects{
        margin: 0;
    }
}